.main {
  display: flex;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 510px;
  height: 100%;
  width: 100%;
  position: relative;
}

.swiperContainer {
  max-width: 510px;
  max-width: 540px;
  height: auto;
  width: 100%;

  position: relative;
}

.overlay {
  z-index: 100;
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 15;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(148, 148, 148, 0.5) 85%, rgba(0, 0, 0, 1) 100%);
}

.controls {
  position: absolute;
  z-index: 8;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}


@media (max-width: 720px) {
  .infoContainer svg{    
    width: 32px !important;
    height: 32px !important;
  }

  .avatarContainer {
    width: 32px;
    height: 32px;
  }

  .infoContainer p {
    font-size: 10pt !important;    
  }

  .data{
    width: 80%;
  }
}

.avatarContainer {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 4px solid #FFFFFFCC;
  padding: 3px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.avatarContainer img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.avatarContainer:hover,
.infoContainer:hover {
  filter: opacity(0.6);
}

.infoContainer p {
  font-size: 14pt;
  font-weight: normal;
  color: #FFF;
}

.data {
  width: 80%;
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

}

.data a {
  text-decoration: none;
}

.data h6 {
  font-size: 16pt;
  font-weight: bold;
  color: #FFF;
}

.data p {
  font-size: 14pt;
  font-weight: normal;
  color: #FFF;
}

.video {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
}